<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="root-menu" label="Openbox 3">
    <item label="Emacs">
      <action name="Execute">
        <command>emacs</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="Chromium">
      <action name="Execute">
        <command>chromium</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="Termite">
      <action name="Execute">
        <command>termite</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="Thunar">
      <action name="Execute">
        <command>thunar</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="ST3">
      <action name="Execute">
        <command>sublime_text_3_imfix</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="Atom">
      <action name="Execute">
        <command>atom</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <separator/>
    <item label="Reload">
      <action name="Reconfigure" />
    </item>
    <item label="Logout">
      <action name="Exit">
        <prompt>yes</prompt>
      </action>
    </item>
  </menu>

</openbox_menu>
